Package: com.iosdevt.sharememos
Name: ShareMemos
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: iOSDevT
Author: iOSDevT
Section: Tweaks
